<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>K.V.A.S</title>
</head>
<body>
    <header>
        <nav class="">
            <div id="username">Hello, {{ session.username }}</div>
                <ul class="nav-links">
                    <li><a href="{{url_for('pages_blueprint.core_blueprint.render_core_page')}}">On main</a></li>
                    <li><a href="{{ url_for('pages_blueprint.core_blueprint.logout')}}">Logout</a></li>
                    <li><a href="{{ url_for('pages_blueprint.core_blueprint.render_friends_page')}}">Friends</a></li>
                    <li><div>Chats</div></li>
                    <li><a href="{{ url_for('pages_blueprint.core_blueprint.render_forum_main_page')}}">Forum</a></li>
                </ul>
        </nav>
        <ul class="chats_list">
            <li><a href="{{url_for('pages_blueprint.core_blueprint.render_chat_page', chat_id=session.chat_id )}}">{{session.chat_name}}</a></li>

        </ul>
    </header>
    <div class="">
        <form action = "/" method = "post">
            <input type = "text" name = "chat_id" placeholder="Enter chat id">
            <input type = "submit" value = "Submit">
         </form>
        </div>
        <h3>{{session.chat_id_incorrect}}</h3>
</body>
</html>