<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forum</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <!-- Навигационная панель -->
  <nav>
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Создать тему</a></li>
      <li><a href="#">Мой профиль</a></li>
    </ul>
  </nav>
  
  <!-- Секция с информацией об аккаунте -->
  <section class="account">
    <img src="avatar.png" alt="avatar">
    <div class="info">
      <span class="name">Имя пользователя</span>
      <span class="friends">Друзья: <span class="count">100</span> (онлайн: <span class="online">20</span>)</span>
      <a href="#" class="logout">Выйти</a>
    </div>
  </section>

  <!-- Секция со списком тем форума -->
  <section class="topics">
    <h2>Список тем</h2>
    <ul>
      <li><a href="#">Тема 1</a></li>
      <li><a href="#">Тема 2</a></li>
      <li><a href="#">Тема 3</a></li>
    </ul>
  </section>
</body>
</html>